html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png');
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 0 12px 1px rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 1em 0;
    background: linear-gradient(-45deg, #ffeead, #ff6f69, #ffeead, #ff6f69);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease-in-out infinite;
    animation: Gradient 15s ease-in-out infinite;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

#card-list {
    width: 100%;
    max-width: 660px;
    max-height: 80vh
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.stars .fa {
    color: #ffe93d;
    font-size: 25px;
}

.score-panel {
    text-align: left;
    width: 100%;
    margin: 1em 0 0 0;
    max-width: 668px;
    padding: 0 20px;
    border-radius: 13px;
    color: #ff726b;
    background: #fff;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel #restart-game {
    float: right;
    cursor: pointer;
}

.card.open .fa, .card.matched .fa, .card.not_matched.open .fa{
    font-size: 50px;
    color: #fff;
}

.card.matched {
    background: #5FBC00;
    position: relative;
    pointer-events: none;
    animation: shake .5s ease;
}

.card.matched:after {
    content: "";
    background: url('../img/success.svg');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 0;
    height: 0;
    z-index: 9999;
    left: 57%;
    transform: translateX(-50%);
    animation: success .4s ease;
}

.card.clicked.open.no-match {
    background: red;
    animation: no-match .4s ease;
}

.card.not_matched .fa {
    font-size: 50px;
    color: #fff;
    animation: hide .8s ease;
    opacity: 0;
}

#success-popup {
    position: fixed;
    background: #fff;
    align-items: center;
    justify-content: center;
    width: 90vw;
    height: 90vh;
    margin: 0 auto;
    opacity:0;
    display:none;
    transition: opacity 1.5s ease;
}

#success-popup.visible{
    opacity:1;
    display: flex;
}

/* Modal */

.modal {
    display: none;
    opacity: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 1s ease;
    background-color: rgb(233,236,240);
    background-color: rgba(233, 236, 240, 0.94);
}

/* Modal Content/Box */
.modal-content {
    background-color: #32ddad;
    color: #fff;
    margin: 0 auto;
    padding: 20px;
    width: 60%;
    height: 60%;
    box-shadow: 0 0 12px 1px rgba(46, 61, 73, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}
.modal-content button {
    border: 1px solid #fff;
    padding: 7px 15px;
    background: transparent;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
}

.modal-content h2 {
    font-size: 2em;
}

.modal-content p {
    margin-bottom: 40px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    right: 10px;
    top: 0;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Animations */

@keyframes hide {
    from {opacity: 1}
    to {opacity: 0}
}

@keyframes bg {
    from {background: red}
    to {background: #2e3d49}
}

@keyframes success {
    0%{opacity:0.2; width: 0; height: 0;}
    100%{ opacity:1; width:150%; height: 150%;}
}

@keyframes shake {
    0% {transform: scale(1.2)}
    50% {transform: scale(.8)}
    100% {transform: scale(1)}
}

@keyframes no-match {
    0% {transform: rotate(-10deg) background: red;}
    20% {transform: rotate(10deg)}
    40% {transform: rotate(-10deg)}
    60% {transform: rotate(10deg)}
    80% {transform: rotate(-10deg)}
    100% {transform: rotate(0deg) background: #2e3d49}
}

@keyframes Gradient {
  0%, 100% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 100%;
  }
}